<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GloriaQCM</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/welcome.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Pool de connexion</description>
    <res-ref-name>jdbc/DSGloria</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description>Servlet pour l'authentification d'un utilisateur</description>
    <display-name>CandidateLoginServlet</display-name>
    <servlet-name>CandidateLoginServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateLoginServlet</servlet-name>
    <url-pattern>/LoginCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet en charge de la gestion de l'accueil des candidats.</description>
    <display-name>CandidateHomeServlet</display-name>
    <servlet-name>CandidateHomeServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateHomeServlet</servlet-name>
    <url-pattern>/Candidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>En charge d'afficher les résultats pour un test donné</description>
    <display-name>CandidateResultsServlet</display-name>
    <servlet-name>CandidateResultsServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateResultsServlet</servlet-name>
    <url-pattern>/Candidate/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>En charge de fournir la liste des tests auquel le candidat est inscrit</description>
    <display-name>CandidateTestsServlet</display-name>
    <servlet-name>CandidateTestsServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateTestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateTestsServlet</servlet-name>
    <url-pattern>/Candidate/Tests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateServlet</display-name>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/Teacher/CandidateGestion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CandidateFilter</display-name>
    <filter-name>CandidateFilter</filter-name>
    <filter-class>fr.eni.gloria.filters.CandidateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CandidateFilter</filter-name>
    <url-pattern>/Candidate/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateTakeTestServlet</display-name>
    <servlet-name>CandidateTakeTestServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateTakeTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateTakeTestServlet</servlet-name>
    <url-pattern>/Candidate/TakeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherHomeServlet</display-name>
    <servlet-name>TeacherHomeServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.TeacherHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherHomeServlet</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>servlet</description>
    <display-name>CandidateResearch</display-name>
    <servlet-name>CandidateResearch</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateResearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateResearch</servlet-name>
    <url-pattern>/CandidateResearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherGestionPage</display-name>
    <servlet-name>TeacherGestionPage</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.TeacherGestionPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherGestionPage</servlet-name>
    <url-pattern>/TeacherGestionPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCandidateServlet</display-name>
    <servlet-name>CreateCandidateServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CreateCandidatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCandidateServlet</servlet-name>
    <url-pattern>/CreateCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromotionServlet</display-name>
    <servlet-name>PromotionServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.PromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromotionServlet</servlet-name>
    <url-pattern>/PromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionGestion</display-name>
    <servlet-name>QuestionGestion</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.QuestionGestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionGestion</servlet-name>
    <url-pattern>/Teacher/QuestionGestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gere le déroulé du test</description>
    <display-name>CandidateRunTestServlet</display-name>
    <servlet-name>CandidateRunTestServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateRunTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRunTestServlet</servlet-name>
    <url-pattern>/Candidate/RunTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateSaveAnswerServlet</display-name>
    <servlet-name>CandidateSaveAnswerServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateSaveAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateSaveAnswerServlet</servlet-name>
    <url-pattern>/Candidate/SaveAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Calcule le résultat d'un test</description>
    <display-name>CandidateResultServlet</display-name>
    <servlet-name>CandidateResultServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateResultServlet</servlet-name>
    <url-pattern>/Candidate/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateTestSummaryServlet</display-name>
    <servlet-name>CandidateTestSummaryServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateTestSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateTestSummaryServlet</servlet-name>
    <url-pattern>/Candidate/TestSummary</url-pattern>
  </servlet-mapping>
  <servlet>

    <description></description>
    <display-name>CandidateInscriptionServlet</display-name>
    <servlet-name>CandidateInscriptionServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateInscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateInscriptionServlet</servlet-name>
    <url-pattern>/Teacher/CandidateInscription</url-pattern>
  </servlet-mapping>

<servlet>
    <description>Servlet en charge de nettoyer la session à la fin d'un test puis de rediriger vers l'accueil de la section Candidate</description>
    <display-name>CandidateEndTestServlet</display-name>
    <servlet-name>CandidateEndTestServlet</servlet-name>
    <servlet-class>fr.eni.gloria.servlets.CandidateEndTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateEndTestServlet</servlet-name>
    <url-pattern>/Candidate/EndTest</url-pattern>

  </servlet-mapping>
</web-app>